<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orange.onl_table.common.db.dao.DbMapper">

    <select id="selectObject" resultType="java.lang.Object">
        ${sql}
    </select>

    <select id="tableOne" resultType="orange.onl_table.common.db.entity.DbTable">
        ${sql}
    </select>

    <select id="tableCheckExist" resultType="java.lang.Boolean">
        ${sql}
    </select>

    <select id="tableList" resultType="orange.onl_table.common.db.entity.DbTable">
        ${sql}
    </select>

    <select id="columnList" resultType="orange.onl_table.common.db.entity.DbColumn">
        ${sql}
    </select>

</mapper>