<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orange.onl_table.dao.OnlDataMapper">

    <select id="executeOneSQL" resultType="java.util.Map">
        ${sql}
    </select>

    <select id="executeCountSQL" resultType="java.lang.Long">
        ${sql}
    </select>

    <select id="executeListSQL" resultType="java.util.Map">
        ${sql}
    </select>

    <select id="executePageSQL" resultType="java.util.Map">
        ${sql}
    </select>

    <!-- 执行insert语句 据说可以防注入 -->
    <insert id="executeInsertSQL" parameterType="java.util.Map">
		${sql}
	</insert>

    <!-- 执行update语句 据说可以防注入 -->
    <update id="executeUpdateSQL" parameterType="java.util.Map">
		${sql}
	</update>

    <delete id="executeDeleteSQL">
        ${sql}
    </delete>

</mapper>