<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orange.onl_table.dao.OnlTableHeadMapper">

    <!-- 执行ddl语句 -->
    <update id="executeDDL" parameterType="java.lang.String">
		${sqlStr}
	</update>

    <select id="getContainFKScheduleList" resultType="orange.onl_table.entity.OnlTableHead">
        select h.*
        from onl_table_head h
        join onl_table_field f on f.head_id = h.id
        where main_table =  (select table_name from onl_table_head where id = #{pkTableId})
    </select>

</mapper>